@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
body {
	background: linear-gradient(-90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
ul {
    list-style-type: none;
    margin: 1px;
    padding: 1px;
    overflow: hidden;
    background-color: #8842d5;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: left;
    padding: 15px 17px;
    text-decoration: none;
    font-size: 20px;
}

/* Links will change color when hovered over */
li a:hover {
    background-color: #7300ff;
}

.context {
	text-align: center;
    width: 100%;
    position: absolute;
    /*top:50vh;*/
    top:vh;
}


  

.context h1{
    text-align: center;
    color: #fff;
    font-size: 100px;
	font-family: cursive;
}
.context h2{
    text-align: center;
    color: #fff;
	font-size: 100px;
	font-family: cursive;
}
.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    
   
}


 .box{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
    border: 5px solid #bc2a8d;
    box-shadow: 0 0 15px #bc2a8d;
    transition: all 0.5s ease;
  }
  .box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .box h4{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
  }
  .box h5{
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: 100;
    font-family: unset ;
  }
  .box p{
    text-align: justify;
  }

